<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.product.ProductImageMapper">

    <select id="listByProductId" resultType="com.example.entity.ProductImage">
        SELECT id, product_id, url, sort, create_time
        FROM product_image
        WHERE product_id = #{productId}
        ORDER BY sort ASC, id ASC
    </select>

    <insert id="batchInsert">
        INSERT INTO product_image (id, product_id, url, sort, create_time)
        VALUES
        <foreach collection="list" item="img" separator=",">
            (#{img.id}, #{img.productId}, #{img.url}, #{img.sort}, #{img.createTime})
        </foreach>
    </insert>

    <delete id="deleteByProductId">
        DELETE FROM product_image WHERE product_id = #{productId}
    </delete>

</mapper>